<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable" id="tabs-161141">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngFor="let miner of miners;let i= index">
                        <a class="nav-link active show" href="#panel-{{i}}" data-toggle="tab">Miner {{(i+1)}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane " [ngClass]="(index==0) ? 'active ' : ''" *ngFor="let miner of miners;let i= index" id="panel-{{i}}">
                        <p *ngFor="let log of miner.logs" class="log {{log.type}}">
                            {{log.message}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>