<p>
    <a href=#modal-container-920512 class="btn btn-sucess" id="add-block" data-toggle=modal>Create Block</a>
    <button class="btn " id="add-transaction" data-toggle="popover" data-html="true" title="Coming Soon" data-trigger="focus" data-content="This feature is still cooking. We currently only support creating basic blocks"></button>
    <a id="proof-of-work" href="#modal-container-POW" class="btn" data-toggle=modal></a>
    <button class="btn " id="miners" (click)="Toggle()"></button>
</p>